body {
    background-color: black;
}

.home-page{
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    background-color: #000000;
}

section {
    scroll-snap-align: start;
    margin-bottom: 10px;
    min-height: 100vh;
    width: 100%;
    color: white;
    background-color: #1a1a1a;
    position: relative;
}

#intro-section {
    overflow-x: hidden;
    overflow-y: hidden;
}

#skills-section {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

#projects-section {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}