.intro-background {
    background-color: rgba(26, 26, 26);
    background-size: 50px 50px;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    overflow-x: hidden;
}

.intro-background-screen {
    background-color: rgba(26, 26, 26, 0);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-header-container {
    padding: 5%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -40px;
}

.intro-header-container > h1 {
    font-family: 'Basement Grotesque', fallback, sans-serif;
    -webkit-text-stroke: 2px white;
    color: transparent;
    cursor: default;
    font-size: min(200px, 15vw);
    line-height: 1.2;
}

.intro-header-container > p {
    font-family: 'Aileron-Regular', fallback, sans-serif;
    line-height: 0;
    font-size: 20px;
    text-align: center;
    font-size: min(30px, 2.5vw);
    position: relative;
    top: -5px;
    right: -100px;
}

@media (max-width: 830px) {
    .intro-header-container > p {
        top: 0;
        right: 10px;
        width: 110%;
    } 
}

.light {
    pointer-events: none;
    position: absolute;
    margin: -200px 0 0 -200px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(36, 35, 35, 0.61), transparent);
    filter: blur(30px);
    mix-blend-mode: lighten;
}