.navbar-component {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 100;
    color: white;
    background: rgba(0, 0, 0, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-left > .logo {
  font-family: 'Basement Grotesque', fallback, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links > button {
  position: relative;
  padding: 5px 5px;
  margin: 0px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: white;
  overflow: hidden;
}


.logo-visible {
  animation: fadeIn 2s ease-in-out forwards;
}

.logo-invisible {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.nav-links > button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 2px;
  left: 50%;
  bottom: 0;
  background: white;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-links > button.active::after {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .navbar-left > .logo {
    font-family: 'Basement Grotesque', fallback, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }
  .nav-links > button {
    position: relative;
    padding: 5px 5px;
    margin: 0px 0px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    overflow: hidden;
  }
}