.skills-section-content {
    width: 1000px;
    max-width: 95vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills-section-title {
    font-family: 'Basement Grotesque', fallback, sans-serif;
    align-self: center;
    font-size: 70px;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.skills-category-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    gap: 0px;
    padding: 0px 2%;
    justify-content: center;
    align-self: center;
}

.skills-category-container > h1{
    font-family: 'Basement Grotesque', fallback, sans-serif;
    font-size: 24px;
    cursor: default;
    align-self: center;
}

.list-of-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.individual-skill {
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
    flex-shrink: 0; /* Prevents the div from shrinking */
    flex-grow: 0; /* Prevents the div from growing */
    white-space: nowrap; 
    cursor: pointer;
}

.skills-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}